[submodule "submodules/magit"]
	path = submodules/magit
	url = https://github.com/philjackson/magit.git
[submodule "submodules/on-my-zsh"]
	path = submodules/on-my-zsh
	url = git@github.com:varunkatta/oh-my-zsh.git
[submodule "submodules/cedet"]
	path = submodules/cedet
	url = https://github.com/emacsmirror/cedet.git
[submodule "submodules/ecb"]
	path = submodules/ecb
	url = https://github.com/emacsmirror/ecb.git
